.cssModule {
    margin: 0 auto;
    width: 960px;
    min-height: 100vh;
    background-color: antiquewhite;
    color: black;
    padding: 20px 60px;
    h1 {
        margin-top: 20px;
    }
    p {
        font-size: 14px;
        padding-top: 16px;
    }
}
