@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

html, body, textarea, h1, h2, h3, h4, h5 {
  padding: 0;
  margin: 0;
  font-family: 'Pretendard', -apple-system, Roboto, sans-serif;
  color: #131A25;
}

* {
  box-sizing: border-box;
}

a {
  cursor: pointer;
  text-decoration: none;
  transition: .25s;
  color: #000;
}

ol, ul {
  list-style: none;
}